.create-container-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
  
}
.add-container-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.add-container-box-inner {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.add-container-box-inner label {
  margin-top: 10px;
  border: 1px solid black;
  border-bottom: none;
  display: block;
  width: 200px;
  padding: 5px;
}
.add-container-input {
  width: 200px;
  display: block;
  padding: 5px;
  border: 1px solid black;
}
.add-container-date, .add-container-date-top {
    border: 1px solid black;
    padding: 5px;
    margin: 0;
    position: relative;
    width: 200px;
}
.add-container-date-top{
    border-bottom: none;
}
.add-container-price-wrapper {
    display: flex;
}
.add-container-price-wrapper label, .add-container-price-wrapper input {
    width: 100px;
}
.add-container-price-text {
    margin: 10px 0 0 0;
    padding: 4.9px;   
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 90px;
 }
 .add-container-type-text {
     width: calc(100% - 20px);
     border: 1px solid black;
     border-bottom: none;
     padding: 5px;  
     margin: 0;
     margin-top: 10px;
 }
 #addType {
     width: 96.5%;
     border: 1px solid black;
     padding: 5px;
 }
 .add-container-price-text  ~ select {
     padding: 4.5px;
     border: none;
     border-bottom: 1px solid black;
     border-right: 1px solid black;
     width: 101px;
 }
 .add-container-box-inner .price-label {
     margin-top: 0;
 }

 .item-table tbody .c-button-td {
  padding: 0;
 }
 .c-button-td button {
     width: 100%;
     background-color: transparent;
     border: none;
 }

 /* edit style */
 .edit-wrapper {
     width: 100%;
     height: 100%;
     position: absolute;
     top: 0;
     left: 0;
     background-color:rgba( 0, 0, 0,  0.8);
     z-index: 50;
 }
 .edit-wrapper-none {
     display: none;
 }
 .edit-table-wrapper{
     padding: 40px;
     max-width: 1000px;
     margin-left: auto;
     margin-right: auto;
     margin-top: 50px;
     background-color: #fff;
     position: relative;
 }
 .edit-table-wrapper table {
     border-collapse: collapse;
     width: 100%;
 }
 .edit-table-wrapper table th, .edit-table-wrapper table td {
     border: 1px solid #ddd;
     padding: 5px 15px;
     font-size: 12px;
 }
 .edit-table-wrapper table th {
    padding: 5px 0;
    background-color: dodgerblue;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
 }
 .edit-cancel-button {
     position: absolute;
     top: 10px;
     right: 10px;
     background-color: transparent;
     border: 1px solid #ddd;
 }
 .edit-table-wrapper table .edit_row  td {
     padding: 0;
 }
 .edit-table-wrapper table .edit_row input{
  width: calc(100% - 20px);
  border: 0;
  padding: 10px;
}
.edit-delete-button {
    width: 100%;
    height: 100%;
    padding: 5px;
    border: none;
    background-color: transparent;
}
.edit-add-button {
    width: 100px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
    border: 1px solid dodgerblue;
    border-radius: 8px;
    background-color: transparent;
    color: dodgerblue;
}